doctype html
//
Aerial by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Aerial by HTML5 UP
    | &#x9;&#x9;
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;&#x9;
    meta(name='description', content='')
    | &#x9;&#x9;
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    | &#x9;&#x9;
    script(src='js/skel.min.js')
    | &#x9;&#x9;
    script(src='js/init.js')
    | &#x9;&#x9;
    noscript
      link(rel='stylesheet', href='css/skel.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style-wide.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style-noscript.css')
    //if lte IE 9
      link(rel='stylesheet', href='css/ie/v9.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  | &#x9;
  body.loading
    #wrapper
      #bg
      | &#x9;&#x9;&#x9;
      #overlay
      | &#x9;&#x9;&#x9;
      #main
        // Header
        header#header
          h1 Han Lynn
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          p Beginner Web Developer &nbsp;&bull;&nbsp; Full-time Asshole &nbsp;&bull;&nbsp; Get Lost Already 
          nav
            ul
              li
                a.icon.fa-twitter(href='#')
                  span.label Twitter
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.icon.fa-facebook(href='#')
                  span.label Facebook
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.icon.fa-dribbble(href='#')
                  span.label Dribbble
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.icon.fa-github(href='#')
                  span.label Github
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.icon.fa-envelope-o(href='#')
                  span.label Email
        // Footer
        footer#footer
          span.copyright
            | &copy; HTML5Up. Design: 
            a(href='https://www.facebook.com/hanlynn.yu') Han Lynn
            | .
